{% if flash.message('error') %}
    <div class="alert alert-danger">
        {{ flash.message('error') | first }}
    </div>
{% endif %}

{% if flash.message('success') %}
    <div class="alert alert-success">
        {{ flash.message('success') | first }}
    </div>
{% endif %}